<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            
<form class="text-center border border-light p-5" method="POST">

    <p class="h4 mb-4">Fazer Login</p>

   
    <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">
    <input type="password" name="senha" class="form-control mb-4" placeholder="Senha">
 
    <button class="btn btn-info btn-block my-4" type="submit">Enviar</button>

</form>

        </div>
    </div>
</div>

